$mainColor : #13143c;
$mainColorLight : #2A14CA;
$mainColorTransparent : rgba(0, 13, 220, 0.64);
$secundaryColor : #7E6D00;
$secundaryColorLight : #caaf00;
$secundaryColorTransparent : rgba(233, 203, 0, 0.63);
$mainTextColor : #002020;
$secundaryTextColor : #d3d7d1;
$shadowLight : #b8c8cf;
$flash : rgba(253, 255, 0, 0.91);
$background : #f8fff4;
$danger: #c80800;