$mainColor : #13143c;
$mainColorLight : #2a14b9;
$mainColorLight2 : rgba(45, 20, 249, 0.93);
$mainColorLight3 : rgba(54, 29, 255, 0.93);
$mainColorTransparent : rgba(0, 13, 220, 0.64);
$secundaryColor : #7E6D00;
$secundaryColorLight : #caaf00;
$secundaryColorTransparent : rgba(245, 215, 0, 0.82);
$secundaryColorTransparent2 : rgba(160, 133, 0, 0.82);
$mainTextColor : #002020;
$secundaryTextColor : #d3d7d1;
$shadowLight : #b8c8cf;
$flash : rgba(253, 255, 0, 0.91);
$background : #f8fff4;
$danger: #c80800;