{# app/Resources/views/Emails/registration.html.twig #}

{% block body_html %}
<div class="logo" style="margin-top: 15px">
    <img src="https://www.bestmovies.es/web/upload/icons/logo_bestmovies.png" alt="BestMovies" title="BestMovies">
</div>
<h2>Bienvenido a BestMovies</h2>
<p>Para verificar su cuenta pinche en el siguiente enlace. <a href="{{ url('enabled_user', {'email': email}) }}">Acceso a BestMovies</a>.</p>
<br>
<div class="thanks">¡Muchas gracias!</div>
{% endblock %}