<footer>
    <p>Design By <b><a target="_blank" href="http://www.webdeveloperjavierbenitez.es">Javier Benítez</a></b></p>
    <div id="socials">
        <span><a target="_blank" href="https://www.facebook.com/javibp88"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
        <span><a target="_blank" href="https://twitter.com/jbenitezdelpozo"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
        <span><a target="_blank" href="https://github.com/Mesleo"><i class="fa fa-github" aria-hidden="true"></i></a></span>
        <span><a target="_blank" href="https://www.linkedin.com/in/francisco-javier-ben%C3%ADtez-del-pozo-56833a8a"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
    </div>
</footer>